/* Site Design and Global Settings */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



:root {
    --headfont: "Playfair Display", serif;
    --bodyfont: "DM Sans", sans-serif;
    --headsize: 48px;
    --bodysize: 18px;
    --black: #0e0e0e;
    --white: #ffffff;
    --grey: #717171;
    --lightgrey: #efefef;
    --red: #7f0000;
    --yellow: #ff9d00;
    --line: 110%;
}

body {
    margin: 0;
    padding: 0;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.layout {
    width: 1200px;
    align-self: center;
    justify-self: center;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headfont);
    font-weight: 500;
    text-transform: uppercase;
    line-height: var(--line);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 90px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 48px;
}

h4 {
    font-size: 36px;
}

h5 {
    font-size: 28px;
}

h6 {
    font-size: 24px;
}

p {
    font-family: var(--bodyfont);
    font-size: var(--bodysize);
    font-weight: 400;
}

.bread {
    display: flex;
    justify-content: left;
    gap: 20px;
    padding: 16px 0;
}

.anch, .angle {
    color: var(--grey);
    font-size: 14px;
    font-family: var(--bodyfont);
    text-decoration: none;
}

.base {
    color: var(--yellow);
    font-size: 14px;
    font-family: var(--bodyfont);
}


/* Header */

header {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}

header .logo {
    width: 160px;
}

.logo img {
    width: 100%;
}

nav {
    width: 440px;
    width: 440px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: start;
}

nav a {
    font-family: var(--bodyfont);
    font-size: 16px;
    text-decoration: none;
    color: var(--black);
}

nav a:hover, nav a:active {
    color: var(--yellow);
}

.side-nav {
    width: 440px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: end;
} 

.side-nav img {
    width: 20px;
}



/* Homepage */

.hero {
    width: 100%;
    display: flex;
    flex-direction: row; 
}

.left {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 50px 0;
    background-color: var(--lightgrey);  
}

.left .box {
    box-sizing: border-box;
    width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 60px;
    height: 540px;
}

.right {
    width: 50%;
    height: 640px;
}

.right img {
    width: 100%;
    height: 640px;
    object-fit: cover;
}

.featured {
    padding: 80px 0;
}

.ver-feature {
    gap: 40px;
}

.section-top {
    display: flex;
    width: 100%;
    justify-content: left;
}



/* Homepage Collection */


.collections-blk {
    width: 100%;
    gap: 40px;
}

.blk-left, .blk-right {
    width: 50%;
}

.blk-left {
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url('/img/site/sparkling.jpg');background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.col-card {
    width: 100%;
    height: 520px;
    display: flex;
    flex-direction: column;
    color: var(--white);
    text-decoration: none;
    padding: 40px;
    gap: 16px;
    justify-content: end;
}

.blk-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
} 

.card-up {
    height: 280px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url('/img/site/white-wine.jpg');background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.card-down {
    height: 280px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url('/img/site/rose_wine_bucket.webp');background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.coll {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    color: var(--white);
    text-decoration: none;
    padding: 40px;
    gap: 16px;
    justify-content: end;
}

.collections-blk h5, .collections-blk p {
    padding: 0;
    margin: 0;
}

/* More */
.col {
    background: none;
    width: 50%;
}

.col-left {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0 60px 0 0;
    height: 540px;
}

.col img {
    width: 100%;
    height: 560px;
}


